<template>
  <q-page class="flex flex-left">
    <base-list2></base-list2>
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent"/>
    </q-page-scroller>
  </q-page>
</template>

<script>
import BaseList2 from "components/BaseList2";

export default {
  name: 'PageIndex',
  components: {
    BaseList2
  },
  data() {
    return {}
  },
  mounted() {
  },

}
</script>
