<template>
  <q-page padding dark>
    <!-- content -->
    <q-tabs v-model="tab" show-arrows dark>
      <q-tab
        v-ripple
        v-for="(tab, idx) in tipoj"
        :key="idx + 'tab'"
        :name="tab.node.kodo"
        :label="tab.node.nomo.enhavo"
      >
        <q-badge color="accent" floating transparent>
          {{ tab.node.kvantoKomomunumoj }}
        </q-badge>
      </q-tab>
    </q-tabs>
    <q-tab-panels dark v-model="tab" animated>
      <q-tab-panel dark v-for="(tab, idx) in tipoj" :key="idx + 'tab-panel'" :name="tab.node.kodo">
        <template v-if="komunumoj && komunumoj.edges">
          <q-card
            dark
            class="my-card"
            flat
            bordered
            v-for="(komunumo, idx) in komunumoj.edges"
            :key="idx + 'edges'"
          >
            <q-item dark clickable v-ripple :to="'/test/k' + komunumo.node.objId">
              <q-item-section avatar>
                <q-avatar>
                  <q-img spinner-color="white" :src="komunumo.node.avataro.bildoF.url">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ komunumo.node.nomo.enhavo }}</q-item-label>
                <q-item-label caption>
                  {{ komunumo.node.priskribo.enhavo }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-card>
          <q-card class="my-card" flat bordered v-if="!$apollo.loading">
            <q-btn
              class=" full-width"
              no-caps
              color="dark"
              v-if="komunumoj.pageInfo && komunumoj.pageInfo.hasNextPage"
              @click="endCursor = komunumoj.pageInfo.endCursor"
              >Загрузить ещё...
            </q-btn>
          </q-card>
        </template>
        <q-ajax-bar ref="barTop" position="bottom" color="accent" size="5px" />
        <q-ajax-bar ref="barBottom" position="top" color="accent" size="5px" />
      </q-tab-panel>
    </q-tab-panels>
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="keyboard_arrow_up" color="accent" />
    </q-page-scroller>
  </q-page>
</template>

<script>
import { komunumojQuery, komunumojTipojQuery } from "src/queries/queries";

export default {
  data() {
    return {
      endCursor: null,
      tab: null,
      tipoj: [
        {
          node: {
            nomo: {
              enhavo: "Все сообщества"
            },
            kodo: "tuta",
            kvantoKomomunumoj: null
          }
        }
      ]
    };
  },
  apollo: {
    komunumojTipoj: {
      query: komunumojTipojQuery,
      errorPolicy: "all"
    },
    komunumoj: {
      query: komunumojQuery,
      variables() {
        return { first: 25, after: this.endCursor, tipo: this.tab !== "tuta" ? this.tab : null };
      },
      errorPolicy: "all"
    }
  },
  watch: {
    // Вызываем обновление информации при изменении параметров адресной строки
    "$route.query": {
      handler: function(cur, old) {},
      deep: true
    },
    // Обновляем параметры адресной строки в зависимости от выбранной вкладки
    tab: function(cur, old) {
      this.endCursor = null;
      if (cur === 0) {
        let qr = Object.assign({}, this.$route.query);
        delete qr.tipo;
        this.$router.push({ query: { ...qr } });
      } else if (this.$route.query.tipo !== cur) {
        let qr = Object.assign({}, this.$route.query);
        this.$router.push({ query: { ...qr, ...{ tipo: cur } } });
      }
    },
    //при загрузке с бакенда типов сообществ формируем список и бейджик на вкладке Все сообщества
    komunumojTipoj: function() {
      if (Array.isArray(this.komunumojTipoj?.edges) && this.komunumojTipoj?.edges?.length > 0) {
        this.tipoj[0].node.kvantoKomomunumoj = this.komunumojTipoj.edges.reduce(
          (sum, current) => sum + current.node?.kvantoKomomunumoj,
          0
        );
        this.tipoj.push(...this.komunumojTipoj?.edges);
      }
    }
  },
  created() {
    // Если указан конкретный тип сообщества, то переключаем вкладку
    if (this.$route.query?.tipo) {
      this.tab = this.$route.query.tipo;
    } else this.tab = "tuta";
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
