<template>
  <q-page id="block__container" class="flex flex-center column">
    <BlockBordered>
      <div class="not-auth-page-main">
        <img
          class="tehnokom_logo"
          alt="Teknokomo"
          src="~app/public/images/logo12.png"
        />
        <p style="font-weight: bold; font-size:30px; line-height: 0.9" class="stub_page_p">Скоро запуск!</p>
        <p style="font-weight: bold; font-size:30px; line-height: 0.9" class="stub_page_p">Segera diluncurkan!</p>
        <p style="font-weight: bold; font-size:30px; line-height: 0.9" class="stub_page_p">Baldaŭ lanĉo!</p>
        <p style="font-weight: bold; font-size:30px; line-height: 0.9" class="stub_page_p">Start soon!</p>
      </div>
    </BlockBordered>
    <div class="three-info-blocks">
      <div
        v-for="tile in tiles"
        :key="tiles.indexOf(tile)"
        class="sub-navigation-block"
      >
      </div>
    </div>
  </q-page>
</template>

<script>
import BlockBordered from "../components/Blocks/BlockBordered";

export default {
  name: "StubIndex",
  components: {
    BlockBordered
  },
  data() {
    return {
      tiles: [
        {
          image_url: "images/main_help.png",
          title: "Помочь в развитии проекта",
          url: "#",
          text: "Полный перечень способов как можно помочь проекту в развитии."
        },
        {
          image_url: "/images/main_doc.png",
          title: "Документация",
          url: "#",
          text: "Всестороннее описание технологий и проектов Технокома."
        },
        {
          image_url: "/images/main_apps.png",
          title: "Клиентские приложения",
          url: "#",
          text: "Полный функционал для различных операционных систем."
        }
      ]
    };
  }
};
</script>
<style lang="sass" scoped>
#block__container
  margin: 20px 10px

  
.not-auth-page-main
  display: flex
  flex-direction: column
  align-items: center

main .tehnokom_logo
  width: 20%
  margin-top: 3rem
  margin-bottom: 1rem

  body.screen--sm &
    width: 200px

  body.screen--xs &
    width: 150px

p
  color: white
  font-size: 20px

.info-block
  display: flex
  max-width: 385px
  min-height: 85px
  max-height: 120px

.info-block-img img
  width: 75px
  height: 75px

.info-block-img
  display: flex
  justify-content: center
  padding: 5px

.text-h6
  flex-basis: 40%
  font-size: 18px
  line-height: 130%
  padding-top: 2px
  padding-bottom: 5px

  body.screen--xs &
    font-size: 17px

.text-h8
  flex-basis: 40%
  body.screen--xs &
    font-size: 12px


.info-block-side
  display: flex
  flex-direction: column
  margin-left: 10px


</style>
<style>
.stub_page_p {
  animation: pulsing 3s linear infinite;
}
@keyframes pulsing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
</style>
