<template>
  <q-page dark padding>
    <!-- content -->
    <q-tabs v-model="tab" dark show-arrows>
      <q-tab
        v-for="(tab, idx) in tabs"
        :key="idx + 'tab'"
        v-ripple
        :label="tab.nomo"
        :name="tab.tab"
      >
        <!--        <q-badge color="accent" floating transparent>-->
        <!--          {{ tab.nomo }}-->
        <!--        </q-badge>-->
      </q-tab>
    </q-tabs>
    <q-tab-panels v-model="tab" animated dark>
      <q-tab-panel v-for="(tab, idx) in tabs" :key="idx + 'tab-panel'" :name="tab.tab" dark>
        <template v-if="selectedTab">
          <q-card
            v-for="(item, idx) in selectedTab.edges"
            :key="idx + 'edges'"
            bordered
            class="my-card"
            dark
            flat
          >
            <q-item v-ripple :to="'/test/u' + item.node.objId" clickable dark>
              <q-item-section avatar>
                <q-avatar>
                  <q-img :src="item.node.avataro.bildoF.url" spinner-color="white">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  >{{
                    `${
                      item.node.unuaNomo && item.node.unuaNomo.enhavo !== null
                        ? item.node.unuaNomo.enhavo.trim() + " "
                        : ""
                    }${
                      item.node.duaNomo && item.node.duaNomo.enhavo !== null
                        ? item.node.duaNomo.enhavo.trim() + " "
                        : ""
                    }${
                      item.node.familinomo && item.node.familinomo.enhavo !== null
                        ? item.node.familinomo.enhavo.trim()
                        : ""
                    }`
                  }}
                </q-item-label>
                <q-item-label caption>
                  {{
                    `${
                      item.node.statuso && item.node.statuso.enhavo !== null
                        ? item.node.statuso.enhavo.trim()
                        : ""
                    }`
                  }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  >{{ `${item.node.statistiko.miaGekamarado ? "У вас в друзьях" : ""}` }}
                </q-item-label>
                <q-item-label>
                  {{
                    `${
                      item.node.statistiko.tutaGekamaradoj !== null
                        ? "Друзей: " + item.node.statistiko.tutaGekamaradoj
                        : ""
                    }`
                  }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-card>
          <q-card v-if="!$apollo.loading" bordered class="my-card" flat>
            <q-btn
              v-if="selectedTab.pageInfo && selectedTab.pageInfo.hasNextPage"
              class=" full-width"
              color="dark"
              no-caps
              @click="endCursor = selectedTab.pageInfo.endCursor"
              >Загрузить ещё...
            </q-btn>
          </q-card>
        </template>
        <!--        <q-ajax-bar ref="barTop" color="accent" position="bottom" size="5px" />-->
        <!--        <q-ajax-bar ref="barBottom" color="accent" position="top" size="5px" />-->
      </q-tab-panel>
    </q-tab-panels>
    <q-page-scroller :offset="[18, 18]" :scroll-offset="150" position="bottom-right">
      <q-btn color="accent" fab icon="keyboard_arrow_up" />
    </q-page-scroller>
  </q-page>
</template>

<script>
import { uzantojQuery, gekamaradojQuery } from "src/queries/queries";

export default {
  data() {
    return {
      endCursor: null,
      tab: "uzantoj",
      tabs: [
        {
          tab: "uzantoj",
          nomo: "Все пользователи"
        },
        {
          tab: "gekamaradoj",
          nomo: "Мои товарищи"
        }
      ]
    };
  },
  apollo: {
    selectedTab: {
      query() {
        return this.tab === "gekamaradoj" ? gekamaradojQuery : uzantojQuery;
      },
      variables() {
        return { first: 25, after: this.endCursor };
      },
      errorPolicy: "all",
      update: data => data.gekamaradoj || data.uzantoj
    }
  },
  computed: {},
  watch: {
    // Вызываем обновление информации при изменении параметров адресной строки
    "$route.query": {
      handler: function(cur) {
        cur.tipo === "gekamaradoj" ? (this.tab = "gekamaradoj") : (this.tab = "uzantoj");
      },
      deep: true
    },
    // Обновляем параметры адресной строки в зависимости от выбранной вкладки
    tab: function(cur) {
      this.endCursor = null;
      if (cur === 0) {
        let qr = Object.assign({}, this.$route.query);
        delete qr.tipo;
        this.$router.push({ query: { ...qr } });
      } else if (this.$route.query.tipo !== cur) {
        let qr = Object.assign({}, this.$route.query);
        this.$router.push({ query: { ...qr, ...{ tipo: cur } } });
      }
    }
  },
  methods: {},
  created() {
    // Если указана вкладка "товарищи", то переключаем вкладку
    if (this.$route.query.tipo !== "gekamaradoj") {
      this.tab = "uzantoj";
    } else {
      this.tab = "gekamaradoj";
    }
  },
  mounted() {}
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
