<template>
  <q-layout view="hHh LpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-dark text-grey-2" height-hint="64">
      <q-toolbar class="GNL__toolbar">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
          class="q-mr-sm"
        />
        <q-toolbar-title v-if="$q.screen.gt.xs" shrink class="row items-center no-wrap">
          <q-avatar><img src="~app/public/icons/favicon-128x128.png"/></q-avatar>
          <span class="q-ml-sm">Universo</span>
        </q-toolbar-title>
        <q-space />
        <q-input
          dark
          class="GNL__toolbar-input"
          outlined
          dense
          v-model="search"
          color="bg-grey-1 shadow-1"
          placeholder="Search for topics, locations & sources"
        >
          <template v-slot:prepend>
            <q-icon v-if="search === ''" name="search" />
            <q-icon v-else name="clear" class="cursor-pointer" @click="search = ''" />
          </template>
          <template v-slot:append>
            <q-btn flat dense round aria-label="Menu" icon="arrow_drop_down">
              <q-menu dark anchor="bottom right" self="top right">
                <div class="q-pa-md" style="width: 400px">
                  <div class="text-body2 text-grey q-mb-md">
                    Narrow your search results
                  </div>
                  <div class="row items-center">
                    <div class="col-3 text-subtitle2 text-grey-1">
                      Exact phrase
                    </div>
                    <div class="col-9 q-pl-md">
                      <q-input dense v-model="exactPhrase" />
                    </div>

                    <div class="col-3 text-subtitle2 text-grey">
                      Has words
                    </div>
                    <div class="col-9 q-pl-md">
                      <q-input dense v-model="hasWords" />
                    </div>

                    <div class="col-3 text-subtitle2 text-grey">
                      Exclude words
                    </div>
                    <div class="col-9 q-pl-md">
                      <q-input dense v-model="excludeWords" />
                    </div>

                    <div class="col-3 text-subtitle2 text-grey">
                      Website
                    </div>
                    <div class="col-9 q-pl-md">
                      <q-input dense v-model="byWebsite" />
                    </div>
                    <div class="col-12 q-pt-lg row justify-end">
                      <q-btn
                        flat
                        dense
                        no-caps
                        color="grey-7"
                        size="md"
                        style="min-width: 68px;"
                        label="Search"
                        v-close-popup
                      />
                      <q-btn
                        flat
                        dense
                        no-caps
                        color="grey-7"
                        size="md"
                        style="min-width: 68px;"
                        @click="onClear"
                        label="Clear"
                        v-close-popup
                      />
                    </div>
                  </div>
                </div>
              </q-menu>
            </q-btn>
          </template>
        </q-input>
        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn v-if="$q.screen.gt.sm" round dense flat color="text-grey-7" icon="apps">
            <q-tooltip>Google Apps</q-tooltip>
          </q-btn>
          <q-btn round dense flat color="grey-8" icon="notifications">
            <q-badge color="accent" text-color="white" floating>
              2
            </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <q-btn round flat>
            <q-avatar size="26px">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
            </q-avatar>
            <q-tooltip>Account</q-tooltip>
          </q-btn>
          <q-list>
            <q-item v-if="isLoggedIn">
              <q-item-section>
                <user-btn ref="user_btn" />
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple v-if="!isLoggedIn" @click="showLoginForm">
              <q-item-section avatar>
                <q-icon name="login" />
              </q-item-section>
              <q-item-section>Войти</q-item-section>
            </q-item>
            <!--          <q-item clickable v-ripple v-else @click="logout">-->
            <!--            <q-item-section avatar>-->
            <!--              <q-icon name="logout"/>-->
            <!--            </q-item-section>-->
            <!--            <q-item-section>Выйти</q-item-section>-->
            <!--          </q-item>-->
          </q-list>
          <login-btn ref="login_btn" v-show="false" />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-dark"
      :width="280"
      side="left"
    >
      <q-scroll-area class="fit">
        <q-list padding class="text-grey-2">
          <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />

          <!--          <q-item class="GNL__drawer-item" v-ripple v-for="link in links1" :key="link.text" clickable>-->
          <!--            <q-item-section avatar>-->
          <!--              <q-icon :name="link.icon"/>-->
          <!--            </q-item-section>-->
          <!--            <q-item-section>-->
          <!--              <q-item-label>{{ link.text }}</q-item-label>-->
          <!--            </q-item-section>-->
          <!--          </q-item>-->

          <!--          <q-separator inset class="q-my-sm"/>-->

          <!--          <q-item class="GNL__drawer-item" v-ripple v-for="link in links2" :key="link.text" clickable>-->
          <!--            <q-item-section avatar>-->
          <!--              <q-icon :name="link.icon"/>-->
          <!--            </q-item-section>-->
          <!--            <q-item-section>-->
          <!--              <q-item-label>{{ link.text }}</q-item-label>-->
          <!--            </q-item-section>-->
          <!--          </q-item>-->

          <!--          <q-separator inset class="q-my-sm"/>-->

          <!--          <div class="q-mt-md">-->
          <!--            <div class="flex flex-center q-gutter-xs">-->
          <!--              <a class="GNL__drawer-footer-link" href="javascript:void(0)" aria-label="Privacy">Privacy</a>-->
          <!--              <span> · </span>-->
          <!--              <a class="GNL__drawer-footer-link" href="javascript:void(0)" aria-label="Terms">Terms</a>-->
          <!--              <span> · </span>-->
          <!--              <a class="GNL__drawer-footer-link" href="javascript:void(0)" aria-label="About">About Google</a>-->
          <!--            </div>-->
          <!--          </div>-->
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container
      :class="{ expanded: leftDrawerOpen }"
      style="
      background-image: url(images/background.jpg);
      z-index: -5
      "
    >
      <q-page
        padding
        style="
      background-image: url(images/earth.png);
      background-attachment: fixed;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;"
      >
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { fasGlobeAmericas } from "@quasar/extras/fontawesome-v5";
import { mapGetters } from "vuex";
import EssentialLink from "components/EssentialLink.vue";

const linksData = [
  {
    title: "Главная",
    caption: "Главная",
    icon: "star",
    link: "/test"
  },
  {
    title: "Регистрация",
    caption: "Сделать шаг в будущее",
    icon: "star",
    link: "/test/registrado"
  },
  {
    title: "Сообщества",
    caption: "Сообщества",
    icon: "star",
    link: "/test/gk"
  },
  {
    title: "Товарищи",
    caption: "Товарищи",
    icon: "star",
    link: "/test/gu"
  },
  {
    title: "Все проекты",
    caption: "Проекты",
    icon: "star",
    link: "/test/gp"
  },
  {
    title: "Создать проект",
    caption: "Создать проект",
    icon: "star",
    link: "/test/add"
  }
];

export default {
  name: "MainLayout",
  components: {
    EssentialLink,
    LoginBtn: () => import("../components/Login"),
    UserBtn: () => import("../components/UserBtn")
  },
  data() {
    return {
      essentialLinks: linksData,
      leftDrawerOpen: false,
      search: "",
      showAdvanced: false,
      showDateOptions: false,
      exactPhrase: "",
      hasWords: "",
      excludeWords: "",
      byWebsite: "",
      byDate: "Any time",
      links1: [
        { icon: "web", text: "Top stories" },
        { icon: "person", text: "For you" },
        { icon: "star_border", text: "Favourites" },
        { icon: "search", text: "Saved searches" },
        { icon: "memory", text: "Technology" },
        { icon: fasGlobeAmericas, text: "World" }
      ],
      links2: [
        { icon: "", text: "Language & region" },
        { icon: "", text: "Settings" },
        { icon: "open_in_new", text: "Get the Android app" },
        { icon: "open_in_new", text: "Get the iOS app" },
        { icon: "", text: "Send feedback" },
        { icon: "open_in_new", text: "Help" }
      ]
    };
  },
  computed: {
    ...mapGetters({ isLoggedIn: "siriusoauth/isLoggedIn" })
  },

  methods: {
    showLoginForm() {
      if (this.$refs.login_btn) {
        this.$refs.login_btn.toggleLoginForm();
      }
    },

    logout() {
      if (this.$refs.user_btn) {
        this.$refs.user_btn.logout();
      }
    },
    onClear() {
      this.exactPhrase = "";
      this.hasWords = "";
      this.excludeWords = "";
      this.byWebsite = "";
      this.byDate = "Any time";
    },
    changeDate(option) {
      this.byDate = option;
      this.showDateOptions = false;
    }
  }
};
</script>

<style lang="sass">
.GNL

  &__toolbar
    height: 64px

  &__toolbar-input
    width: 55%


  &__drawer-item
    line-height: 24px
    border-radius: 0 24px 24px 0
    margin-right: 12px

    .q-item__section--avatar
      .q-icon
        color: #5f6368

    .q-item__label
      color: #ffffff
      letter-spacing: .01785714em
      font-size: .875rem
      font-weight: 500
      line-height: 1.25rem

  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem

    &:hover
      color: #000

.q-page-container
  background-attachment: fixed
  background-position: top center
  background-repeat: repeat
  background-size: cover
  padding: 34px 10px 10px 10px !important
  color: #ffffff

.q-page-container.expanded
  padding: 34px 10px 10px 292px !important
</style>
